body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: bisque;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-style: italic;
  background-color: brown;
}

button {
  border-radius: 5px;
  padding: 0.5em 1.2em;
  margin-bottom: 4px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: thistle;
  cursor: pointer;
  transition: border-color 0.25s;
}